@model CadeMeuMedico.Models.Especialidade

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <!--@Html.ValidationSummary(true)-->

    <div class="form-horizontal">
        <h4>Especialidade</h4>
        <hr />

        <div class="editor-label">
            @Html.LabelFor(model => model.IDEspecialidade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IDEspecialidade)
            @Html.ValidationMessageFor(model => model.IDEspecialidade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <p>
            <input type="submit" value="Edit" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
