@model CadeMeuMedico.Models.Conta.SenhaLocal

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.SenhaAntiga)
                @Html.PasswordFor(m => m.SenhaAntiga)
            </li>
            <li>
                @Html.LabelFor(m => m.SenhaNova)
                @Html.PasswordFor(m => m.SenhaNova)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmarSenha)
                @Html.PasswordFor(m => m.ConfirmarSenha)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
