@model CadeMeuMedico.Models.Conta.Login

@{
    ViewBag.Title = "Área Administrativa";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="container">
    <section id="loginForm" class="form-group">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UsuarioNome)
                        @Html.TextBoxFor(m => m.UsuarioNome)
                        @Html.ValidationMessageFor(m => m.UsuarioNome)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Senha)
                        @Html.PasswordFor(m => m.Senha)
                        @Html.ValidationMessageFor(m => m.Senha)
                    </li>
                    <li>
                        @Html.CheckBoxFor(m => m.Relembrar)
                        @Html.LabelFor(m => m.Relembrar, new { @class = "checkbox" })
                    </li>
                </ol>
                <input class="btn btn-info" type="submit" value="Log in" />
            </fieldset>
        }
    </section>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
