@model CadeMeuMedico.Models.Conta.Registrar
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Informações Pessoais</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Nome)
                @Html.TextBoxFor(m => m.Nome)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
        </ol>
    </fieldset>

    <fieldset>
        <legend>Informações da Conta</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UsuarioNome)
                @Html.TextBoxFor(m => m.UsuarioNome)
            </li>
            <li>
                @Html.LabelFor(m => m.Senha)
                @Html.PasswordFor(m => m.Senha)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmarSenha)
                @Html.PasswordFor(m => m.ConfirmarSenha)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
